<?xml version="1.0" encoding="UTF-8"?>
<f:if condition="{urlRecords}">
	<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
		<f:for each="{urlRecords}" as="record">
			<f:if condition="!{record.excludeFromSitemap}">
				<f:render partial="SitemapRecord/Show" arguments="{record: record}" />
			</f:if>
		</f:for>
	</urlset>
</f:if>